.theme-container.sidebar-open .sidebar {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border: 0;
}
.demo div.theme-default-content {
	max-width: 40%;
}
.theme-default-content #demo-background{
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
}

.homeOverwrite {
    user-select:none;
}
.homeOverwrite .hero{
    z-index: 2;
    height: 690px;
    position: relative;
    pointer-events:none;
}
.homeOverwrite .hero .action{
    pointer-events: all;
}
.homeOverwrite .hero #main-title{
    color: white;
}
.homeOverwrite .home .hero .description{
    color: white;
}
.homeOverwrite .home .hero .action-button{
    background-color:#c2185b;
    border-bottom:1px solid #c2185b;
}
// .homeOverwrite a{
//     color:#e61c58

// }
.homeOverwriteZh .home .hero .action-button:hover{
    background-color:#e61c58
}

.homeOverwriteZh {
    user-select:none;
}
.homeOverwriteZh .hero{
    z-index: 2;
    height: 690px;
    position: relative;
    pointer-events:none;
}
.homeOverwriteZh .hero .action{
    pointer-events: all;
}
.homeOverwriteZh .hero #main-title{
    color: white;
}
.homeOverwriteZh .home .hero .description{
    color: white;
}
.homeOverwriteZh .home .hero .action-button{
    background-color:#c2185b;
    border-bottom:1px solid #c2185b;
}
// .homeOverwriteZh a{
//     color:#e61c58

// }
.homeOverwrite .home .hero .action-button:hover{
    background-color:#e61c58
}


.sidebar,
.navbar {
	z-index: 10000;
}


::-webkit-scrollbar {
	width: 8px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: #ccc;
}

::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: #f5f5f5;
}

.theme-default-content a > code {
	color: #3eaf7c;
}
