html {
    $background_color: rgb(16, 16, 16);
    $middle_color: #333;
    $front_color: white;
    $theme_color: #c2185b;
    $offset_color: #444;
    background-color: $background_color !important;
    body {
        #app {
            height: 100%;
            .theme-container {
                height: 100%;
                background-color: white;
                .navbar {
                    background-color: white;
                    // transition: background-color 500ms linear;
                    .sidebar-button {
                        svg {
                            path {
                                fill: $front_color;
                            }
                        }
                    }
                    .links {
                        // transition: background-color 500ms linear;
                        .nav-links {
                            .nav-item {
                                .nav-link:hover {
                                    color: $theme_color;
                                }
                                a.nav-link.router-link-active {
                                    color: $theme_color;
                                }
                                .dropdown-wrapper {
                                    .dropdown-title {
                                        .title:hover {
                                            color: $theme_color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                aside.sidebar {
                    // background-color: $front_color - $background_color;
                    -ms-overflow-style: none;
                    overflow: -moz-scrollbars-none;
                    // border: 0;
                    // color: white;
                    .nav-links {
                        // color: $front_color;
                        border: 0;
                        .nav-item {
                            .nav-link:hover {
                                color: $theme_color;
                            }
                            .dropdown-wrapper {
                                .mobile-dropdown-title {
                                    .title {
                                        // color: $front_color;
                                        color: $middle_color;
                                    }
                                    .title:hover {
                                        color: $theme_color;
                                    }
                                }
                                .nav-dropdown {
                                    color: $middle_color;
                                    // background-color: $background_color;
                                    border: 0;
                                }
                            }
                        }
                    }
                    .sidebar-links {
                        li {
                            .sidebar-group {
                                .sidebar-group-items {
                                    li {
                                        a.sidebar-link.active {
                                            color: $theme_color;
                                        }
                                    }
                                }
                            }
                            .sidebar-sub-header {
                                a.sidebar-link.active {
                                    color: $theme_color;
                                }
                            }
                        }
                    }
                }
                aside.sidebar::-webkit-scrollbar {
                    width: 0 !important;
                }
                main.home {
                    header.hero {
                        z-index: 2;
                        position: relative;
                        pointer-events: none;
                        img {
                            width: 40rem;
                        }
                        p.action {
                            margin-top: 70px;
                            pointer-events: all;
                            a.action-button {
                                background-color: #c2185b;
                                border-bottom: 1px solid #c2185b;
                            }
                            a.action-button:hover {
                                background-color: #e61c58;
                            }
                        }
                        #main-title {
                            color: white;
                            font-size: 2.5rem;
                        }
                        .description {
                            color: white;
                        }
                    }
                    .features {
                        border: 0;
                        margin-top: 50px;
                        position: relative;
                        z-index: 2;
                        .feature {
                            h2,
                            p {
                                color: $front_color;
                                cursor: text;
                                user-select: text;
                            }
                            p {
                                color: $front_color - $offset_color;
                            }
                        }
                    }
                    .footer {
                        border: 0;
                        color: $front_color - $offset_color;
                    }
                }
                main.page {
                    background-color: white;
                    // background-color: $middle_color;
                    // color: $front_color - $offset_color;
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        // color: $front_color;
                        // color: $middle_color-$offset_color;
                        code {
                            color: $theme_color;
                        }
                    }
                    code {
                        color: #40a3ff;
                    }
                    a > code {
                        color: $theme_color;
                    }
                    a:hover {
                        color: $theme_color;
                    }
                    h2 {
                        border-bottom: 1px solid $middle_color + $offset_color;
                    }
                }
            }
            .theme-container,
            .theme-container.homeOverwrite,
            .theme-container.homeOverwriteZh {
                user-select: none;
                // background-color: $background_color;
                background-color: white;
                // .sidebar {
                // background-color: $background_color;
                // }
                .navbar {
                    // transition: background-color 500ms linear;
                    background-color: $background_color;
                    border-bottom: 0;
                    .home-link {
                        .site-name {
                            color: $front_color;
                        }
                    }
                    .links {
                        // transition: background-color 500ms linear;
                        background-color: $background_color;
                        color: $front_color;
                        .nav-links {
                            .nav-item {
                                .dropdown-wrapper {
                                    .dropdown-title {
                                        .title {
                                            color: $front_color;
                                        }
                                    }
                                    .nav-dropdown {
                                        background-color: $middle_color;
                                        border: -1;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .theme-container.homeOverwrite,
            .theme-container.homeOverwriteZh {
                // user-select: none;
                background-color: $background_color;
                .sidebar {
                    background-color: $background_color;
                    .nav-links {
                        color: $front_color;
                        .nav-item {
                            .dropdown-wrapper {
                                .dropdown-title,
                                .mobile-dropdown-title {
                                    .title {
                                        color: $front_color;
                                    }
                                }
                                .nav-dropdown {
                                    color: $front_color;
                                    // background-color: $background_color;
                                    border: 0;
                                    // background-color: $middle_color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .language-js,
        .language-ts,
        .language-typescript,
        .language-javascript {
            background-color: $offset_color;
        }
    }
}
.theme-container.sidebar-open .sidebar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 0;
}
.demo div.theme-default-content {
    max-width: 40%;
}

.sidebar,
.navbar {
    z-index: 10000;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #ccc;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #f5f5f5;
}

.theme-default-content a > code {
    color: #3eaf7c;
}
